<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
    <title>Rock Paper Scissors Game</title>
  </head>

  <body>

    <div class='container'>
        <h1>Please enter your move<h1>
        <h2>Choose from Rock, Paper, Scissors</h2>
        <form action="index.html" method="post">

        </form action='/rock_paper_scissors_results'>
            <div class='form-group'>
                <label for='player_1'></label>
                <input id='player_1' name='player_1' class='form-control' type='text'>
            </div>
            <div class='form-group'>
                <label for 'player_2'></label>
                <input id='player_2' name='player_2' class='form-control type='text'>



            </div>
            <button type='submit' class='btn-success'>Who will Win?!</button>
    </div>

  </body>
</html>
