<html>
  <head>
    <title>Rock Paper Scissors Results</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class='container'>
      <h1>And the winner is....</h1>
      <h2>{{ result }}</h2>

      <form action='/'>
        <button type='submit' class='btn-success'>Play Again!</button>
      </form>
    </div>  
  </body>
</html>
